@model List<ProductModel>

<!doctype html>
<html lang="en">
<head>
    <title>Carousel 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/carousel/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/carousel/css/carousel.css">
</head>
<body>

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                @*<div class="col-md-12 text-center">
                    <h2 class="heading-section mb-5">Carousel #03</h2>
                </div>*@
                <div class="col-md-12">
                    <div class="featured-carousel owl-carousel">
                        @foreach (var item in Model)
                        {
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-end justify-content-center" style="background-image: url(@item.ImagesSourcePaths[0]); object-fit:cover;">
                                        <div class="text w-100">
                                            <span class="cat">@item.Price лв.</span>
                                            <h3><a asp-action="Product" asp-controller="ProductDetails" asp-route-id="@item.Id">@item.Name</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*<script src="~/carousel/js/jquery.min.js"></script>*@
    @*<script src="~/carousel/js/popper.js"></script>*@
    @*<script src="~/carousel/js/bootstrap.min.js"></script>*@
    <script src="~/carousel/js/owl.carousel.min.js"></script>
    <script src="~/carousel/js/main.js"></script>
</body>
</html>