@using GlobalConstants
@using DIY.Castle.Web.Services.CategoriesService
@inject ICategoriesService _categoriesService
@{
    var categories = _categoriesService.GetAllCategories();
}
<style>
    .dropdown-item {
        font-weight: 900 !important;
        font-size: 18px;
    }

        .dropdown-item:hover {
            background-color: #8b9e5d !important;
            color: white !important;
            transition: .4s ease-out;
        }


    #transform:hover {
        transition: .4s ease-out;
        width: 400px;
    }

    .nav-item {
        font-family: Yarin;
        letter-spacing: 3px;
        font-weight: 900;
    }

    .navbar {
        background-color: #FAF8F0 !important;
    }

    .site_logo {
        max-width: 130px;
        max-height: 80px;
        padding-bottom: 10px;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/fonts.css" />
    <link rel="stylesheet" href="~/css/style.css">
    <link href="/Toastr/toastr.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate-4-1-1.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<body>
    <header class="item header margin-top-0">

        @if (User.IsInRole(UserRoles.ADMIN_ROLE_NAME))
        {
            <partial name="~/Views/Shared/AdminPanel.cshtml" />
        }

        <div class="wrapper">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="site_logo" src="~/images/logo/logo_akindo.png" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul style="position:center" class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">НАЧАЛО</a>
                            </li>
                            <li style="cursor:pointer;" class="nav-item dropdown">
                                <a role="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                    Продукти
                                </a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="" asp-controller="Catalog" asp-action="Index">ВСИЧКИ ПРОДУКТИ</a>
                                    <div class="dropdown-divider"></div>
                                    @foreach (var category in categories)
                                    {
                                        <a class="dropdown-item" asp-area="" asp-controller="Catalog" asp-action="Index" asp-route-filter="@category.Name">@category.Name</a>
                                        <div class="dropdown-divider"></div>
                                    }
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Контакти</a>
                            </li>

                            @*To be removed*@
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>

                            <li class="nav-item">
                                <div id="side-cart">
                                    <partial name="/Views/Cart/_cart.cshtml" />
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    @*    <!-- FOOTER =============================-->
        <div id="footer-bottom" class="footer text-center">
        <div class="container">
        <div class="row">
        <p class="footernote">
        Connect with Scorilo
        </p>
        <ul class="social-iconsfooter">
        <li><a href="#"><i class="fa fa-phone"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        </ul>
        <p>
        &copy; 2017 Your Website Name<br />
        Scorilo - Free template by <a href="https://www.wowthemes.net/">WowThemesNet</a>
        </p>
        </div>
        </div>
        </div>*@

    <!-- SCRIPTS =============================-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="/Toastr/toastr.min.js"></script>
    <script src="~/js/cart.js"></script>

    <script src="/side-shopping-cart/js/main.js"></script> <!-- Gem jQuery -->


    <script>
        toastr.options.positionClass = 'toast-bottom-right';

        //----HOVER CAPTION---//
        jQuery(document).ready(function ($) {
            $('.fadeshop').hover(
                function () {
                    $(this).find('.captionshop').fadeIn(150);
                },
                function () {
                    $(this).find('.captionshop').fadeOut(150);
                }
            );
        });


    </script>
    <script>
        const element = document.querySelector('.hot');
        element.classList.add('animate__animated', 'animate__flip');
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
