@{
    var showBigHeroBanner = false;
    var showSmallHeroBanner = false;

    if (this.ViewData["showBigHeroBanner"] != null)
    {
        showBigHeroBanner = (bool)this.ViewData["showBigHeroBanner"];
    }
    if (this.ViewData["showSmallHeroBanner"] != null)
    {
        showSmallHeroBanner = (bool)this.ViewData["showSmallHeroBanner"];
    }

    var titleText = this.ViewData["titleText"];
    var descriptionText = this.ViewData["descriptionText"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="">
    <title>@ViewData["Title"] - DIY.Castle.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@
</head>

<body>
    <header class="item header margin-top-0">
        <div class="wrapper">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DIY.Castle.Web</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul style="position:center" class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">Cart</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            @if (showBigHeroBanner)
            {
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="text-homeimage">
                                <div class="maintext-image" data-scrollreveal="enter top over 1.5s after 0.1s">
                                    @titleText
                                </div>
                                <div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.3s">
                                    @descriptionText
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (showSmallHeroBanner)
            {
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="text-pageheader">
                                <div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.0s">
                                    @titleText
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- FOOTER =============================-->
    <div id="footer-bottom" class="footer text-center">
        <div class="container">
            <div class="row">
                <p class="footernote">
                    Connect with Scorilo
                </p>
                <ul class="social-iconsfooter">
                    <li><a href="#"><i class="fa fa-phone"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
                <p>
                    &copy; 2017 Your Website Name<br />
                    Scorilo - Free template by <a href="https://www.wowthemes.net/">WowThemesNet</a>
                </p>
            </div>
        </div>
    </div>

    <!-- SCRIPTS =============================-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        //----HOVER CAPTION---//
        jQuery(document).ready(function ($) {
            $('.fadeshop').hover(
                function () {
                    $(this).find('.captionshop').fadeIn(150);
                },
                function () {
                    $(this).find('.captionshop').fadeOut(150);
                }
            );
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
