@model DIY.Castle.Web.Models.InputModels.ContactInputModel

<link href="/css/contacts.css" rel="stylesheet" />
<link href="/Toastr/toastr.css" rel="stylesheet" />

<link href="/css/product-details.css" rel="stylesheet" />
<div class="topImageNavBlack">
    <div class="slider_banner_info">
    </div>
</div>

<section class="wthree-row py-5 w3-contact" id="contact">
    <div class="row">
        <div style="text-align: center;" class="col-lg-4">
            <img class="contacts-post-image" src="~/images/contacts/post.png" alt="">
        </div>
        <div class="col-lg-8">

            <div class="container py-md-5">
                <h4 class="w3ls-title text-center text-uppercase pb-md-5 pb-4">
                    Свържете се с нас
                </h4>
                <div class="row contact-form ">
                    <div class="col-lg-10 wthree-form-left">
                        <!-- contact form grid -->
                        <div class="contact-top1">
                            <form asp-controller="Home" asp-action="Contact" method="post" class="f-color">
                                <div class="form-group">
                                    <label class="contact-text" for="contactusername">Име</label>
                                    <input asp-for="Name" type="text" class="form-control" id="contactusername" required>
                                </div>
                                <div class="form-group">
                                    <label class="contact-text" for="contactemail">Email</label>
                                    <input asp-for="EmailAddress" type="email" class="form-control" id="contactemail" required>
                                </div>
                                <div class="form-group">
                                    <label class="contact-text" for="contactcomment">Съобщение</label>
                                    <textarea minlength="10" asp-for="Message" class="form-control" rows="5" id="contactcomment" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-block btn-contact-us">Изпрати</button>
                            </form>
                        </div>
                        <!--  //contact form grid ends here -->
                    </div>
                    <!-- contact details -->
                    <!-- contact map grid -->
                    <!--//contact map grid ends here-->
                </div>
                <!-- //contact details container -->
            </div>
        </div>
    </div>
</section>
<!-- //contact -->
@*<script src="/Toastr/toastr.min.js"></script>
<script>
    function sendMessage() {
        toastr.options.positionClass = 'toast-bottom-right';
        toastr.success(`Вашето съобщение беше успешно изпратено!`);

        let name = document.getElementById('contactusername');
        let email = document.getElementById('contactemail');
        let message = document.getElementById('contactcomment');

        name.value = '';
        email.value = '';
        message.value = '';
    }
</script>*@